<div style="width: 100%;padding-top: 25px;">
    <div class="container-img-drowp" >
        
            <img src="../../../../assets/images/foxbel-music.png">
            <!-- <i class="fas fa-bars btn bars-menu"></i> -->
        
    </div>
    <br>
    <div id="section-library" class="form-group" style="margin-left: 10px;">
        <p class="main-title">Mi Librería</p>
        <ul style="padding: 0px 20px;">
            <li>
                Recientes
            </li>
            <li>
                Artistas
            </li>
            <li>
                Álbums
            </li>
            <li>
                Canciones
            </li>
            <li>
                Estaciones
            </li>
        </ul>
    </div>
    <div id="section-playList" class="form-group" style="margin-left: 10px;">
        <p class="main-title">Playlist</p>
        <ul style="padding: 0px 20px;">
            <li>
                Metal
            </li>
            <li>
                Para Bailar
            </li>
            <li>
                Rock 90s
            </li>
            <li>
                Baladas
            </li>
            <li>
                Estaciones
            </li>
        </ul>
    </div>
</div>

